/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
}

mat-dialog-container {
  padding: 0 !important;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(^assets-shared/fonts/Quicksand/Quicksand.ttf) format("truetype");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(^assets-shared/fonts/MaterialIcons/MaterialIcons.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: "Quicksand", sans-serif;
  background: #eee;
  font-variant-numeric: normal;
  line-height: 1.6;
  background-image: url(assets/images/background-boot.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* markdown specific styles */

/* define ![fullsize](<path>) to get an image scaled to the width of the container */
img[alt=textwidth] { width: 100%; }
