/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
}

mat-dialog-container {
  padding: 0 !important;
}

body {
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
  background: #eee;
  font-variant-numeric: normal;
  line-height: 1.6;
  background-image: url(assets/images/background-boot.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* markdown specific styles */

/* define ![fullsize](<path>) to get an image scaled to the width of the container */
img[alt=textwidth] { width: 100%; }
