<article class="game_element_content">
  <div *ngIf="needsTitleRow()" class="game_element_title_row">
    <h3 class="game_element_title" >{{narrative.title}}</h3>
  </div>
  <div *ngIf="isDefaultLayout()" class="game_element_columns">
    <app-image class="game_element_image"
               [imgClass]="getImgClass()"
               [description]="narrative.description"></app-image>
    <div class="game_element_text">
      <div *ngIf="isAudioType()"> Audioplayer </div>
      <div markdown emoji>{{narrative.description.text}}</div>
    </div>
  </div>
</article>
<nav class="game_element_buttons">
  <button *ngFor="let button of narrative.buttons"
     mat-flat-button
     color="primary"
     (click)="select(button.destination)" >{{button.name}}</button>
  <button mat-flat-button
     *ngIf="hasHelp()"
     color="primary"
     class="game_element_hint_button"
     style="float: left"
     (click)="hint()" i18n="@@chase.element.hint"><mat-icon>live_help</mat-icon> Hint</button>
</nav>
