<article class="game_element_content">
  <div *ngIf="needsTitleRow()" class="game_element_title_row">
    <h3 class="game_element_title" >{{narrative.title}}</h3>
  </div>
  <div class="game_element_columns">
    <chase-image class="game_element_image"
               *ngIf="showImage()"
               [imgClass]="getImgClass()"
               [image]="getImage()">
    </chase-image>
    <app-audio class="game_element_text"
               *ngIf="isAudioType()"
               [audio]="getAudio()">
    </app-audio>
    <app-video class="game_element_text"
               *ngIf="isVideoType()"
               [video]="getVideo()">
    </app-video>
    <app-augmented-reality class="game_element_text"
               *ngIf="isAugmentedRealityType()"
               [ar]="getAugmentedReality()">
    </app-augmented-reality>
    <div class="game_element_text"
         id="text_show_button"
         (click)="showText()"
         i18n="@@chase.element.show_text">
      <mat-icon>unfold_more</mat-icon><span class="text_button">Show transcript</span>
    </div>
    <div class="game_element_text"
         id="text_hide_button"
         (click)="hideText()"
         i18n="@@chase.element.hide_text">
      <mat-icon>unfold_less</mat-icon><span class="text_button">Hide transkript</span>
    </div>
    <div class="game_element_text"
         id="game_element_text"
         markdown emoji>
      {{narrative.description.text}}
    </div>
  </div>
</article>
<nav class="game_element_buttons">
  <button *ngFor="let button of narrative.buttons"
     mat-flat-button
     color="primary"
     (click)="select(button.destination)" >{{button.name}}</button>
  <button mat-flat-button
     *ngIf="hasHelp()"
     color="primary"
     class="game_element_hint_button"
     style="float: left"
     (click)="hint()" i18n="@@chase.element.hint"><mat-icon>live_help</mat-icon> Hint</button>
</nav>
