<article class="game_element_content">
  <div *ngIf="needsTitleRow()" class="game_element_title_row">
    <h3 class="game_element_title" >{{narrative.title}}</h3>
  </div>
  <div class="game_element_columns">
    <app-image class="game_element_image"
               *ngIf="showImage()"
               [imgClass]="getImgClass()"
               [description]="narrative.description">
    </app-image>
    <audio controls
           *ngIf="isAudioType()"
           class="game_element_text">
      <source [src]="getMediaUrl()" [type]="getMediaType()" />
        Your browser does not support audio. There is a transcript below.
    </audio>
    <video controls
           *ngIf="isVideoType()"
           class="game_element_text">
      <source [src]="getMediaUrl()" [type]="getMediaType()" />
        Your browser does not support video. There is a transcript below.
    </video>
    <div *ngIf="isArType()"
         class="game_element_text">
      <iframe class="game_element_ar" [src]="getArUrl()"></iframe>
    </div>
    <div class="game_element_text"
         id="text_show_button"
         (click)="showText()"
         i18n="@@chase.element.show_text">
      <mat-icon>unfold_more</mat-icon><span class="text_button">Show transcript</span>
    </div>
    <div class="game_element_text"
         id="text_hide_button"
         (click)="hideText()"
         i18n="@@chase.element.hide_text">
      <mat-icon>unfold_less</mat-icon><span class="text_button">Hide transkript</span>
    </div>
    <div class="game_element_text"
         id="game_element_text"
         markdown emoji>
      {{narrative.description.text}}
    </div>
  </div>
</article>
<nav class="game_element_buttons">
  <button *ngFor="let button of narrative.buttons"
     mat-flat-button
     color="primary"
     (click)="select(button.destination)" >{{button.name}}</button>
  <button mat-flat-button
     *ngIf="hasHelp()"
     color="primary"
     class="game_element_hint_button"
     style="float: left"
     (click)="hint()" i18n="@@chase.element.hint"><mat-icon>live_help</mat-icon> Hint</button>
</nav>
