@import "src/styles";
@import "src/app/components/editor-styles.scss";

.editor-hidden {
  display: none;
}
.editor-visible {
}

.content-for-object-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid white;
  justify-content: space-between;
  //background: blue;
}

.object-select-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  //background: green;
}

.object-select-container-single {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.object-misc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.content-type-hint {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.saveCancelButton {
  margin: 10px;
  max-width: 250px;
}

.delete_icon {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

h3 {
  font-weight: 500;
  text-align: center;
}

#editor-meta-info-input{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.delete-icon-wrapper {
  display: flex;
  width: 100%;
  min-width: 50px;
  max-width: 55px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.button-array-container {
  padding-top: 10px;
  width: 100%;
}

@media screen and (orientation: landscape) {
  .hint_top_container {
    flex-direction: row;
  }
  .hint_control_container {
    width: 10%;
    flex-direction: column;
  }
  .hint_image_container {
    width: 30%;
  }
  .hint_text_container {
    width: 50%;
  }
  .hint_text_area {
    min-height: 400px;
  }
}
@media screen and (orientation: portrait) {
  .hint_top_container {
    flex-direction: column;
  }
  .hint_control_container {
    width: 90%;
    flex-direction: row;
  }
  .hint_image_container {
    width: 90%;
  }
  .hint_text_container {
    width: 90%;
  }
  .hint_text_area {
    min-height: 200px;
  }
}

.hint_top_container {
  display: flex;
  width:100%;
}

.hint_control_container{
  text-align: center;
  padding: 10px;
  display: flex;
}

.hint_text_container{
  padding: 10px;
  width:100%;
}

.hint_text_form_field {
  width: 100%;
}

.hint_text_area {
  width: 100%;
  min-width: 250px;
}
