:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  margin-bottom: 15px;
}


.example-header-image {
  background-image: url('./../../../../assets/example_thumbnails/xaver.png');
  background-size: cover;
}
