:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  margin-bottom: 15px;
}
img {
  object-fit: cover;
  object-position: center;
  max-height: 30vh;
}

.example-header-image {
  background-image: url('./../../../../assets/example_thumbnails/xaver.png');
  background-size: cover;
}

.card-flag {
  margin: 8px;
  float: right;
}
