<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>

<div *ngIf="!loading" class="chaseList">
  <section>
    <mat-card *ngIf="hasRunningChase()" (click)="startChase('')">
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Continue with:  {{getRunningChaseTitle()}}</mat-card-title>
        </mat-card-header>
      </header>
      <mat-card-actions>
        <button primary mat-button>CONTINUE</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <div *ngFor="let chase of getChaseList()">
    <section>
      <mat-card (click)="startChase(chase.id)">
        <header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{chase.title}}</mat-card-title>
            <mat-card-subtitle>{{chase.author}}</mat-card-subtitle>
          </mat-card-header>
        </header>
        <img mat-card-image src="{{chase.preview.description.image}}">
        <mat-card-content>
          <p>{{chase.preview.description.text}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button primary mat-button>START</button>
          <!--<button mat-button>LIKE</button>-->
          <!--<button mat-button>SHARE</button>-->
          <mat-icon class="card-flag" *ngIf="isSucceeded(chase.id)" >done</mat-icon>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>

  <section>
    <mat-card *ngIf="hasNoChases()" (click)="startChase(-1)">
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Start chase from file</mat-card-title>
        </mat-card-header>
      </header>
      <mat-card-actions>
        <button primary mat-button>Upload file</button>
        <button primary mat-button>START</button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>

<div *ngIf="inputUrl">
  <app-url-input></app-url-input>
</div>
