.game_element_columns{
  width:100%;
  clear:both;
}
.game_element_image{
  float:left;
  width:30%;
  height:150px; // FIXME testing
  background: #000000; // FIXME testing
}
.game_element_text{
  float:left;
  width:70%;
}
.game_element_buttons{
  clear:both;
  text-align:center;
}
ul {
  list-style-type: none;
}
