<h1>{{this.chase.title}}</h1>
<div> <!--body-->
  <app-description
    *ngIf="isDescription(this.displayElement)"
    [description]="this.displayElement"
    (selection)="onSelection($event)">
  </app-description>
  <app-task
    *ngIf="isTask(this.displayElement)"
    [task]="this.displayElement"
    (selection)="onSelection($event)">
  </app-task>
  <app-solution
    *ngIf="isSolution(this.displayElement)"
    [solution]="this.displayElement"
    (selection)="onSelection($event)">
  </app-solution>
</div>
