<!-- <h1>{{this.chase.title}}</h1> -->
<div>
  <!--body-->
  <app-description *ngIf="isDescription(this.displayElement)" [description]="this.displayElement"
    (selection)="onSelection($event)">
  </app-description>
  <app-quest *ngIf="isQuest(this.displayElement)" [quest]="this.displayElement" (selection)="onSelection($event)">
  </app-quest>
  <app-solution *ngIf="isSolution(this.displayElement)" [solution]="this.displayElement"
    (selection)="onSelection($event)">
  </app-solution>
</div>



<!-- <ng-container *ngFor="let quest of chase.quests">
  <div>quest</div>
</ng-container> -->