<!-- <h1>{{this.chase.title}}</h1> -->
<div>
  <!--body-->
  <app-narrative *ngIf="isNarrative(this.displayElement)"
    [narrative]="this.displayElement"
    (selection)="selectDestination($event)">
  </app-narrative>
  <app-quest *ngIf="isQuest(this.displayElement)"
    [quest]="this.displayElement"
    (selection)="selectSolution($event)">
  </app-quest>
  <app-solution *ngIf="isSolution(this.displayElement)"
    [solution]="this.displayElement"
    (selection)="selectDestination($event)">
  </app-solution>
</div>



<!-- <ng-container *ngFor="let quest of chase.quests">
  <div>quest</div>
</ng-container> -->
