.game_element_image {
  display:block;
  max-width: 100%;
  max-height: 100%;
}

.card-image {
  object-fit: cover;
  object-position: center;
  max-height: 30vh;
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
}
