<nav>
  <mat-toolbar color="primary">
    <mat-icon id="homeButton" routerLink="/">home</mat-icon>
    {{title}}
    <button mat-icon-button id="menuButton" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!--<button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span i18n>Settings</span>
      </button>-->
      <button mat-menu-item routerLink="/information">
        <mat-icon>info</mat-icon>
        <span i18n>Info</span>
      </button>
      <button mat-menu-item routerLink="/privacy">
        <mat-icon>privacy_tip</mat-icon>
        <span i18n>Privacy</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</nav>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
