<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

</style>


<mat-toolbar color="primary">
  <mat-icon id="homeButton" routerLink="/">home</mat-icon>
  {{title}}



  <button mat-icon-button id="menuButton" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Einstellungen</span>
    </button>

  </mat-menu>
</mat-toolbar>


<div class="content" role="main">

  <router-outlet></router-outlet>

</div>
