mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin: 82px auto 0px;
  padding: 0 16px;
  max-width: 960px;
}

#homeButton {
  position: absolute;
  left: 15px;
}

#menuButton {
  position: absolute;
  right: 15px;
}
