:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #262527
}

.pageWrapper {
    // background: white;
    position: absolute;
    top: 150px;
    left: 150px;
    bottom: 150px;
    right: 150px;
    background-image: url(./../../../assets/logos/schloss_blur.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.loginContainer {
    // background: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: white;
}

.infoContainer {
    background: #bea05a;
}

#bml-top {
    width: 250px;
    left: -27px;
    position: relative;
    top: -80px;
}

#bml-bottom {
    width: 250px;
    left: -27px;
    position: relative;
    top: 175px;
}

#loginButton {
    color: white;
}