@import "src/styles";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 100%;
  text-align: center;
  text-justify: center;

}


.quest-editor-top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.quest-editor-top-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: 100%;
}

.quest-editor-top-right-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}


.quest-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 25%;
  height: 90%;
  margin: 10px;
  border: 3px solid grey;
}

label {
  margin: 10px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid grey;
  border-radius: 4px;

  font-size: 15pt;
  //margin-bottom: 40px;
}

textarea {
  width: 90%;
  height: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid grey;
  border-radius: 4px;

  margin-bottom: 40px;
  font-size: 15pt;
}

textarea:focus {
  border: 3px solid $text_color;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;

  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border: 3px solid grey;

  cursor: pointer;
}

.quest-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.quest-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quest-top-mini-container {
  margin: 3px 10px;
}

.quest-bottom-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  //background: red;
  width: 100%;
  //height: 50%;//todo
}

.quest-solution-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  //background: green;
}

.quest-add-solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  //background: blue;
}

#quest-name {
  width: 80%;
  height: 10%;
  margin: 3px;
  margin-left: 20px;
  margin-right: 20px;
}

#quest-type-selector {
  width: 70%;
}

#combination-type-selector {
  margin-bottom: 10px;
  width: 70%;
}

.switchable-quest-content {
    width: 90%;
    height: 60%;
    //border: 1px solid white;
}

.content-for-object-search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid white;
    justify-content: space-between;
    //background: blue;
}

.object-select-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    //background: green;
}

.object-select-container-single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    //background:red;
}

.object-misc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    //background: yellow;
}


.content-for-input-term {
    width: 100%;
    height: 100%;
    //display: flex;
    //flex-direction: column;
    padding: 10px;
    border: 1px solid white;
}

.content-for-multiple-choice {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid white;
}


label {
    white-space: nowrap;
}

.content-all-types {
  width: 100%;
  height: 65%;
  margin: 10px;
  overflow-y: scroll;
}

.content-type-narrative {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-type-quest{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.narrative-status {
  margin-left: 20px;
  margin-right: 20px; 
  width: 20%;
}

.button-array-container {
  padding-top: 30px;
  width: 70%;
}

.saveCancelButton {
  margin: 10px;
}

img {
  width: 100%;
}

.single-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.single-solution-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.delete_icon {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.combination_map_name_width {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //background:green;
}

.combination_map_checkbox_width {
  width: 5vw;
  margin-left: 5px;
  margin-right: 5px;
  background: rgb(216, 215, 215);
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border-left:   1px solid black;
  //border-right:   1px solid black;
  //background: blue;
}

.combination_map_checkbox_container {
  height: 85px;            
}

.delete_icon:hover {
  //color: red;
  //border: 2px solid red;
}

.narrative-top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.combinationmap_header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25pt;
}

.quest-combinationmap-bottom-container {
  display: flex;
  flex-direction: row;
  //background: red;
}

.combination-map-bottom-row-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#combination-map-destination-dropdown {
  margin-bottom: 10px;
}

// .full_height {
//   height: 100%;
//   background: blue;
// }