<div class="quest-editor-top-container">
  <div class="quest-image-container">
    <img [src]="image_url">
  </div>
  <div class="quest-editor-top-right-container">
    <div class="quest-editor-top-right-container-header">
      <div class="quest-name-container">
        <label for="fname">Title:</label>
        <input type="text" id="quest-name" name="quest_name" [(ngModel)]="title"><br><br>
      </div>
      <button class="saveCancelButton" mat-raised-button color="primary" (click)="reset()">Reset</button>
      <button class="saveCancelButton" mat-raised-button color="primary" (click)="save()">Speichern</button>
    </div>
    <label for="fname">Quest Description:</label>
    <textarea type="text" id="bug_brief" placeholder="Here goes all relevant information to solve the quest ..."
      name="fname" class="input_field_big" [(ngModel)]="description"></textarea>

  </div>
</div>

<!-- ! ============================= -->
<!-- ! ========== QUESTS =========== -->
<!-- ! ============================= -->

<div class="content-all-types" [hidden]="!is_quest">
  <div class="content-type-quest">
    <div class="quest-top-container">

      <div class="quest-top-mini-container">
        <label for="quest-type">Quest Typ:</label>
        <select name="quest-type" id="quest-type-selector" [(ngModel)]="quest_type_status_int"
          (change)="onQuestTypeChange($event.target.value)">
          <option [value]="1">Text</option>
          <option [value]="2">Multiple Choice</option>
        </select>
      </div>
      <div class="quest-top-mini-container">
        <label for="num_tries">Versuche (0 = ∞):</label>
        <input type="number" id="num_tries" name="num_tries" min="0" [(ngModel)]="maxTries">
      </div>
      <div class="quest-top-mini-container">
        <label for="max_time">Sekunden Zeit (0 = ∞):</label>
        <input type="number" id="max_time" name="max_time" min="0">
      </div>
      <div class="quest-top-mini-container">
        <label for="disp_image_first">Bild zuerst anzeigen</label>
        <input type="checkbox" id="disp_image_first" name="disp_image_first" checked>
      </div>
    </div>

    <div class="combinationmap_header">
      Lösungen:
    </div>

    <div class="quest-bottom-container">
      <div class="quest-solution-list-container">
        <div>
          <li *ngFor="let solution of solutionItems; let i = index">
            <div class="single-solution-item-container">
              <div class=combination_map_name_width>
                <input type="text" id="quest-name" name="quest_name" [(ngModel)]="solutionItems[i]"><br><br>
              </div>

          <li *ngFor="let combination of combinationMap; let j = index">
            <div class="combination_map_checkbox_width combination_map_checkbox_container">
              <input type="checkbox" id="combination_map_check" name="combination_map_check"
                [(ngModel)]="combinationMap[j].requiredItems[i]">
            </div>
          </li>
          <div [hidden]="this.solutionItems.length < 2">
            <mat-icon class=delete_icon (click)=deleteQuestSolution(i)>delete</mat-icon>
          </div>
        </div>
        </li>
      </div>
      <div class="quest-combinationmap-bottom-container">
        <div class=combination_map_name_width>
          <button class="saveCancelButton" mat-raised-button color="primary" (click)="addSolutionItem()">↓ Lösung
            Hinzufügen ↓</button>
        </div>
        <li *ngFor="let combination of combinationMap; let j = index">
          <div class=combination_map_checkbox_width>
            <div class="combination-map-bottom-row-attributes">
              <select name="quest-type" id="combination-type-selector"
                (change)="onQuestTypeChange($event.target.value)">
                <option value="and">Alle</option>
                <option value="or">Eins</option>
              </select>
              <select id="combination-map-destination-dropdown">
                <option *ngFor="let target of gameElementsList" [value]='target'
                  [attr.selected]="parseIdFromGEString(target)==1 ? true : null"
                  (click)="onCombinationMapDestinationChange(j, target)">{{target}}</option>
              </select>






              <div [hidden]="this.combinationMap.length < 2">
                <mat-icon class=delete_icon (click)=deleteSolutionCombination(j)>delete</mat-icon>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
    <div class="quest-add-solution-container">
      <button class="saveCancelButton" mat-raised-button color="primary" (click)="addSolutionCombination()">→
        Kombination Hinzufügen</button>
    </div>
  </div>
</div>
</div>

<!-- ! ============================= -->
<!-- ! ======== NARRATIVES ========= -->
<!-- ! ============================= -->

<div class="content-all-types" [hidden]="!is_narrative">
  <div class=content-type-narrative>
    <div class=narrative-top-section>
      <div class=narrative-status>
        <label for="narrative-status">Narrative Status:</label>
        <select name="narrative-status" id="narrative-status-selector" [(ngModel)]="selected_narrative_status_int"
          (change)="onNarrativeStatusChange($event.target.value)">
          <option [value]="1">Continue</option>
          <option [value]="2">Win</option>
          <option [value]="3">Loose</option>
        </select>
      </div>
      <div class=narrative-status>
        <label for="narrative-type">Narrative Typ:</label>
        <select name="narrative-type" id="narrative-type-selector" [(ngModel)]="selected_narrative_type_int"
          (change)="onNarrativeTypeChange($event.target.value)">
          <option [value]="1">Text</option>
          <option [value]="2">Panorama</option>
        </select>
      </div>
    </div>
    <div class=button-array-container>
      <div>
        Verfügbare Buttons:
      </div>
      <div class=button-header>
        <div>
          Button Text:
        </div>
        <div>
          Ziel:
        </div>
      </div>
      <li *ngFor="let button of buttons; let i = index">
        <div class="single-button-container">
          <input type="text" id="quest-name" name="quest_name" [(ngModel)]="button.name"><br><br>
          <select>
            <option *ngFor="let target of gameElementsList" [value]='target'
              [attr.selected]="parseIdFromGEString(target)==button.destination ? true : null"
              (click)="onNarrativeButtonDestinationChange(i, target)">{{target}}</option>
          </select>
          <div [hidden]="this.buttons.length < 2">
            <!-- todo hidden not working -->
            <mat-icon class=delete_icon (click)=deleteNarrativeButton(i)>delete</mat-icon>
          </div>
        </div>
      </li>
    </div>
    <button class="saveCancelButton" mat-raised-button color="primary" (click)="addButton()">Button Hinzufügen</button>
  </div>
</div>