<div class="quest-editor-top-container">
    <div class="quest-image-container">hier sollte ein bild rein</div>
    <div class="quest-editor-top-right-container">
        <label for="fname">Quest Name</label>
        <input type="text" id="quest-name" name="quest_name"><br><br>

        <label for="quest-type">Quest Type</label>
        <select name="quest-type" id="quest-type-selector">
            <option value="object-search">Object Search</option>
            <option value="input-term">Input Term</option>
            <option value="multiple-choice">Multiple Choice</option>
        </select>
        <div>lel</div>
    </div>
</div>
<label for="fname">Quest Description</label>
<textarea type="text" id="bug_brief" placeholder="Here goes all relevant information to solve the quest ..."
    name="fname" class="input_field_big"></textarea>
<label for="fname">Solution 1 Description</label>
<textarea type="text" id="bug_brief" placeholder="This will be shown to the users as they solve with solution 1 ..."
    name="fname" class="input_field_big"></textarea>
<label for="fname">Solution 2 Description</label>
<textarea type="text" id="bug_brief" placeholder="This will be shown to the users as they solve with solution 2 ..."
    name="fname" class="input_field_big"></textarea>