@media screen and (orientation: landscape) {
  /* applies to mobiles in landscape mode */

  .game_element_columns {
    flex-direction: row;
  }

  .game_element_image {
    width: 30%;
  }

  .game_element_text {
    width: 70%;
  }
}

@media screen and (orientation: portrait) {
  /* applies to mobiles in portrait mode */

  .game_element_columns {
    flex-direction: column;
  }

  .game_element_image {
    text-align: center;
  }

  .game_element_text {
    width: 100%;
  }
}

.game_element_title_row {
  display: flex;
}

.game_element_help_button {
  margin: 8px 16px;
}

.game_element_content {
  clear: both;
  width: calc(100% - 32px);
  // 100% - pos .content - padding top & bottom
  min-height: calc(100% - 80px - 32px);
  background: white;
  padding: 16px;
  margin: 0px auto 16px auto;
}

.game_element_columns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  clear: both;
}

.game_element_image {
  float: left;
  padding: 0px;
}
.game_element_image img {
  display:block;
  max-width: 100%;
  max-height: 100%;
}

.game_element_text {
  float: left;
  padding: 15px;
}

.game_element_buttons {
  width: 100%;
  clear: both;
  text-align: center;
  margin: 8px auto;
  background: white;
}
.game_element_buttons button {
  margin: 8px 16px;
}
