@import "src/styles";

.main_body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #262527;
}

.quest_selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  //height: 100%;
  padding-bottom: 20px;
  align-items: center;
  //border-bottom: 2px solid black;
}

.quest_connections:hover {
  background: white;
}

#chase-meta-info-form {
  margin: 15px;
}

.quest_selector_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  max-width: 250px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  border-right: 2px solid #262527;
  overflow-y: auto;
}

.golden-font {
  color: #bea05a;
}

mat-form-field {
  color: white;
}

label {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.selector_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $background_color_selectable;
    color: $text_color;
    width: 90%;
    height: 30px;
    margin: 2px;
    text-align: center;
    text-justify: middle;
    font-size: 20px;
    //color: $selector_color_inactive;
    //border: 2px solid $selector_color_inactive;
    border: 2px solid $text_color;
    cursor: pointer;
}

.selector_content:hover {
    color: $background_color_content_darker;
    //border: 2px solid $background_color_content_darker;
    background: $text_color;
}

h1 {
  font-weight: bold;
  margin-bottom: 0px;
}

#quest_connections_selector {
  margin-top: 15px;
}


// ================================================================================= GFLOW

mat-selection-list {
  background: white;
  width: 100%;
}

.button-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #262527;
}

.chase-menu-icon {
  background: rgba(255, 255, 255, 0.8);
  color: #bea05a;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

.chase-menu-icon:hover {
  color: rgba(255, 255, 255, 0.8);
  background: #bea05a;
}

#add_quest_button {
    background: $background_color_selectable;
    color: $text_color;
    border: 2px solid $text_color;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

#add_quest_button:hover {
    color: $background_color_content_darker;
    //border: 2px solid $background_color_content_darker;
    background: $text_color;
}

mat-list-option {
  background: white;
  width: 100%;
}

#addQuestButton {
  margin-top: 15px;
}

#saveChaseButton {
  margin-top: 5px;
  margin-bottom: 5px;
}

.quest_selector_header {
  font-size: 15pt;
  text-align: center;
  width: 100%;
  color: white;
  background: #bea05a;
  border-top: 2px solid #262527;
}

.text-and-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete_icon:hover {
  color: red;
}

.single-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.single-solution-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.initial-game-element-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


