@import "src/styles";

.main_body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #eee;
}

.quest_selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  //height: 100%;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 2px solid black;
}

.quest_connections:hover {
  background: white;
}

.quest_selector_container {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  border-right: 2px solid rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
}

label {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.selector_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $background_color_selectable;
    color: $text_color;
    width: 90%;
    height: 30px;
    margin: 2px;
    text-align: center;
    text-justify: middle;
    font-size: 20px;
    //color: $selector_color_inactive;
    //border: 2px solid $selector_color_inactive;
    border: 2px solid $text_color;
    cursor: pointer;
}

.selector_content:hover {
    color: $background_color_content_darker;
    //border: 2px solid $background_color_content_darker;
    background: $text_color;
}

h1 {
  font-weight: bold;
  margin-bottom: 0px;
}

#quest_connections_selector {
  margin-top: 15px;
}


// ================================================================================= GFLOW

mat-selection-list {
  background: white;
  width: 100%;
}

#add_quest_button {
    background: $background_color_selectable;
    color: $text_color;
    border: 2px solid $text_color;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

#add_quest_button:hover {
    color: $background_color_content_darker;
    //border: 2px solid $background_color_content_darker;
    background: $text_color;
}

mat-list-option {
  background: white;
  width: 100%;
}

#addQuestButton {
  margin-top: 15px;
}

#saveChaseButton {
  margin-top: 15px;
  margin-bottom: 15px;
}

.quest_selector_header {
  font-size: 15pt;
  text-align: center;
  width: 100%;
  color: white;
  background: #bea05a;
}

.text-and-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete_icon:hover {
  color: red;
  //border: 2px solid red;
}