<div class="main_body">
    <div class="quest_selector_container">
        <div class="quest_selector">
            <div class="selector_content" id="quest_connections_selector">
                <div class="quest_connections_content">Quest Connections</div>
            </div>
            <h1>Available Quests:</h1>
            <div class="selector_content" id="Finde Spuren" (click)="selectQuest(this)">
                <span>Finde spuren</span>
            </div>
            <div class="selector_content">
                <span>Zwei Dolche</span>
            </div>
            <div class="selector_content">
                <span>Wooot</span>
            </div>
            <button type="button" class="add_button" id="add_quest_button">+ New Quest</button>
        </div>
    </div>
    <app-quest-editor></app-quest-editor>
</div>