@import "src/styles";

.main_body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #eee;
}

.quest_selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  //border: 3px solid black;
}

.quest_connections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-align: center;
  text-justify: middle;
  font-size: 20px;
  border: 1px solid black;
}

.quest_connections:hover {
  background: white;
}

.quest_selector_container {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  align-items: center;
  border-right: 2px solid rgba(0, 0, 0, 0.6);
}

label {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

.selector_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 30px;
  margin: 2px;
  text-align: center;
  text-justify: middle;
  font-size: 20px;
  border: 2px solid grey;
  cursor: pointer;
}

.selector_content:hover {}

h1 {
  font-weight: bold;
  margin-bottom: 0px;
}

#quest_connections_selector {
  margin-top: 15px;
}


// ================================================================================= GFLOW

mat-selection-list {
  background: white;
  width: 100%;
}

mat-list-option {
  background: white;
  width: 100%;
}

#addQuestButton {
  margin-top: 15px;
}
