/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
}

mat-dialog-container {
  padding: 0 !important;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eee;
}
