@import "../game_element";
@import "src/assets/color-theme.scss";

@media screen and (orientation: landscape) {
  .button_bar {
    flex-direction: row;
  }
  .quest_bar {
    text-align:right;
  }
  .quest_tries {
    float: left;
    border-top: 1px #eee solid;
  }
  .quest_time {
    text-align:right;
    border-top: 1px #eee solid;
  }
}

@media screen and (orientation: portrait) {
  .button_bar {
    flex-direction: column;
  }
  .quest_bar {
    text-align:center;
  }
  .quest_time {
    border-top: 1px #f0f0f0 solid;
  }
  .quest_tries {
    border-top: 1px #f0f0f0 solid;
  }
}

.quest_tries {
  padding: 16px;
  margin: 0px;
}

.quest_time {
  padding: 16px;
  margin: 0px;
  min-height: 1.5em;
}

ul {
  list-style-type: none;
}

.valid_answer {
  animation: highlight_valid 1.5s;
  animation-iteration-count: 1;
}
@keyframes highlight_valid {
  from {background-color: green; color:white;}
  to {background-color: primary; color: primary;}
}

.invalid_answer {
  border: 8px #fff solid;
  border-radius: 8px;
  animation: highlight_invalid 1.5s;
  animation-iteration-count: 1;
}
@keyframes highlight_invalid {
  from {background-color: red; border-color: red; color:white;}
  to {background-color: #fff; border-color: #fff; color: #262527;}
}
