<article class="game_element_content">
  <h3 class="game_element_title">{{narrative.title}}</h3>
  <div *ngIf="isDefaultLayout()" class="game_element_columns">
    <div class="game_element_image">
      <img [src]="getImage()"/>
    </div>
    <div class="game_element_text">
      <div *ngIf="isAudioType()"> Audioplayer </div>
      <div markdown ngPreserveWhitespaces>{{narrative.description.text}}</div>
    </div>
  </div>
  <div *ngIf="isPanoramaLayout()" class="game_element_columns">
    <div class="game_element_panorama">
      <div *ngIf="isVideoType();then video else image"></div>
      <ng-template #image><img [src]="getImage()"/></ng-template>
      <ng-template #video><div> Videoplayer </div></ng-template>
    </div>
    <div class="game_element_footnote">
      <div markdown ngPreserveWhitespaces>{{narrative.description.text}}</div>
    </div>
  </div>
</article>
<nav class="game_element_buttons">
  <button *ngFor="let button of narrative.buttons"
     mat-flat-button
     color="primary"
     (click)="select(button.destination)">{{button.name}}</button>
</nav>
