<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>

<div *ngIf="!loading" class="cards-container">

  <section>
    <mat-card>
      <mat-card-actions>
        <button mat-button (click)="createChase()" i18n="@@chase_selector.add_new_chase">
          <mat-icon color="primary">add</mat-icon>
          Add new chase
        </button>
        <!-- <button mat-button>Add chase from file</button> -->
      </mat-card-actions>
    </mat-card>
  </section>

  <section *ngFor="let chase of getChaseList()">
    <mat-card>
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="avatar" [src]="getAuthorImageUrl(chase.metaData.preview.image, chase)" />
          </div>
          <mat-card-title>{{chase.metaData.title}}</mat-card-title>
          <mat-card-subtitle>{{chase.metaData.author.text}}</mat-card-subtitle>
        </mat-card-header>
      </header>
      <chase-image id="running_chase_img"
                 [imgClass]="getMatCardImageClass()"
                 [image]="getImage(chase.metaData.preview.image, chase)">
      </chase-image>
      <mat-card-content>
        <p markdown emoji>{{chase.metaData.preview.text}}</p>
      </mat-card-content>
      <mat-card-actions>
        <mat-checkbox primary [checked]="chase.metaData.published" disabled i18n="@@chase-selector.published_flag">Published</mat-checkbox>
        <button primary mat-button (click)="editChase(chase.metaData.chaseId)" i18n="@@chase-selector.edit">edit</button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>

