<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>

<div *ngIf="!loading" class="cards-container">

  <section>
    <mat-card>
      <mat-card-actions>
        <button mat-button (click)="createChase()" i18n="@@chase_selector.add_new_chase">
          <mat-icon color="primary">add</mat-icon>
          Add new chase
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <section *ngFor="let chase of getChaseList()">
    <mat-card>
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{chase.title}}</mat-card-title>
          <mat-card-subtitle>{{chase.author}}</mat-card-subtitle>
        </mat-card-header>
      </header>
      <img mat-card-image src="{{imageUrls.get(chase.chaseId)}}">
      <mat-card-content>
        <p markdown emoji>{{chase.preview.description.text}}</p>
      </mat-card-content>
      <mat-card-actions>
        <mat-checkbox primary [checked]="chase.published" disabled i18n="@@chase-selector.published_flag">Published</mat-checkbox>
        <button primary mat-button (click)="editChase(chase.chaseId)" i18n="@@chase-selector.edit">edit</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <!--
  <section>
    <mat-card *ngIf="hasNoChases()" (click)="editChase(-1)">
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Start chase from file</mat-card-title>
        </mat-card-header>
      </header>
      <mat-card-actions>
        <button primary mat-button>Upload file</button>
        <button primary mat-button>EDIT</button>
      </mat-card-actions>
    </mat-card>
  </section>
  -->
</div>

