:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  min-width: 100%;
  width: 0;
}

mat-card {
  margin-bottom: 15px;
}

img {
  object-fit: cover;
  object-position: center;
  max-height: 30vh;
}

.example-header-image {
  background-image: url('./../../../favicon.ico');
  background-size: cover;
}

.card-flag {
  margin: 8px;
  float: right;
}

