<article>
  <!--<div *ngIf="finishedSuccessfully()" i18n="@@finished.congratulations"> Congratulations :tada: </div>-->
  <!--<div *ngIf="finishedFailure()" i18n="@@finished.next-time"> Maybe next time :fingers_crossed: </div>-->
  <p i18n="@@finished.more-about-museum">Get more information about Badisches Landesmuseum at <a href="https://landesmuseum.de">https://landesmuseum.de</a></p>
  <p i18n="@@finished.more-about-app">Browse the source code of the app Odyquest at <a href="https://github.com/XaverImMuseum/XaverImMuseum">https://github.com/XaverImMuseum/XaverImMuseum</a></p>
</article>
<nav>
<div class="game_element_buttons">
  <button mat-flat-button color="primary"
          (click)="backToList()" i18n="@@finished.go-on">Go on</button>
</div>
</nav>
