<div class="main_body">
  <div class="quest_selector_container">
    <div class="quest_selector_header">Jagd</div>
    <input hidden type="file" #uploader (change)="uploadChase($event)" />
    <div class="button-wrapper">
      <mat-icon class="chase-menu-icon" (click)="createNewChase()" matTooltip="Neue Jagd">add</mat-icon>
      <mat-icon class="chase-menu-icon" (click)="pushChase()" matTooltip="Jagd speichern">save</mat-icon>

      <mat-icon class="chase-menu-icon" (click)="uploader.click()" matTooltip="Jagd hochladen">file_upload</mat-icon>
      <mat-icon class="chase-menu-icon" (click)="downloadChase()" matTooltip="Jagd herunterladen">file_download
      </mat-icon>
      <mat-icon class="chase-menu-icon" (click)="deleteChase()" matTooltip="Jagd löschen">delete</mat-icon>
    </div>

      <mat-selection-list #selected [multiple]="false" #questlist>
        <mat-list-option>
          <div class=text-and-delete-container (click)="metaDataSelectorClicked()">
            Allgemein
          </div>
        </mat-list-option>
      </mat-selection-list>

    <div class="quest_selector_header">Rätsel</div>

    <div class="quest_selector">
      <mat-selection-list #selected [multiple]="false" #questlist>
        <mat-list-option *ngFor="let quest of questList">
          <div class=text-and-delete-container (click)="questSelectorClicked(quest)">
            {{quest}}
            <mat-icon class=delete_icon (click)=deleteGameElement(quest)>delete</mat-icon>
          </div>
        </mat-list-option>
      </mat-selection-list>

      <button id="addQuestButton" mat-raised-button color="primary" (click)="addQuest()">Neues Rätsel</button>
    </div>
    <div class="quest_selector_header">Erzählelement</div>
    <div class="quest_selector">
      <mat-selection-list #selected [multiple]="false" #questlist>
        <mat-list-option *ngFor="let quest of narrativeList">
          <div class=text-and-delete-container (click)="questSelectorClicked(quest)">
            {{quest}}
            <mat-icon class=delete_icon (click)=deleteGameElement(quest)>delete</mat-icon>
          </div>
        </mat-list-option>
      </mat-selection-list>

      <button id="addQuestButton" mat-raised-button color="primary" (click)="addNarrative()">
        Neues Erzählelement
      </button>
    </div>

  </div>
  <app-element-editor #element_editor></app-element-editor>
</div>
