<div class="main_body">
  <div class="quest_selector_container">
    <input hidden type="file" #uploader (change)="uploadChase($event)" />
    <div class="button-wrapper">
      <mat-icon class="chase-menu-icon" (click)="createNewChase()" matTooltip="Neue Jagd">add</mat-icon>
      <mat-icon *ngIf="hasModifiableApi()" class="chase-menu-icon" (click)="pushChase()" matTooltip="Jagd speichern">save</mat-icon>
      <mat-icon class="chase-menu-icon" (click)="uploader.click()" matTooltip="Jagd hochladen">file_upload</mat-icon>
      <mat-icon class="chase-menu-icon" (click)="downloadChase()" matTooltip="Jagd herunterladen">file_download</mat-icon>
      <mat-icon *ngIf="hasModifiableApi()" class="chase-menu-icon" (click)="deleteChase()" matTooltip="Jagd löschen">delete</mat-icon>
    </div>

    <mat-selection-list #selected [multiple]="false" #questlist>
      <mat-list-option (click)="metaDataSelectorClicked()">
        <div class=text-and-delete-container>
          Allgemein
        </div>
      </mat-list-option>

      <mat-list-option class="headline" i18n="@@main_editor.quest">
        Quests
      </mat-list-option>

      <mat-list-option *ngFor="let quest of chaseEditor.getQuestNames()" (click)="questSelectorClicked(quest)">
        <div class=text-and-delete-container>
          {{quest}}
          <mat-icon class=delete_icon (click)=deleteGameElement(quest)>delete</mat-icon>
        </div>
      </mat-list-option>
      <mat-list-option class="add" (click)="addQuest()" i18n="@@main_editor.add_quest">
        <span><mat-icon>add</mat-icon> add quest</span>
      </mat-list-option>

      <mat-list-option class="headline" i18n="@@main_editor.narratives">
        Narratives
      </mat-list-option>
      <mat-list-option *ngFor="let quest of chaseEditor.getNarrativeNames()" (click)="questSelectorClicked(quest)">
        <div class=text-and-delete-container>
          {{quest}}
          <mat-icon class=delete_icon (click)=deleteGameElement(quest)>delete</mat-icon>
        </div>
      </mat-list-option>
      <mat-list-option class="add" (click)="addNarrative()" i18n="@@main_editor.add_narrative">
        <span><mat-icon>add</mat-icon> add narrative</span>
      </mat-list-option>
    </mat-selection-list>

  </div>
  <app-element-editor #element_editor></app-element-editor>
</div>
