@import '../game_element.scss';

:host {
  // background: red !important;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white !important;
}

mat-dialog-content {
  // background: blue;
  padding: 15px;
  margin: 0 !important;
  height: 100%;
}

mat-dialog-actions {
  // background: green;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
