@media screen and (orientation: landscape) {
  /* applies to mobiles in landscape mode */

  .game_element_columns {
    flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  /* applies to mobiles in portrait mode */

  .game_element_columns {
    flex-direction: column-reverse;
  }



}

:host {
  // background: red !important;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.game_element_columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  clear: both;
}

.game_element_image {
  width: 100%;

  img {
    width: 100%;
  }
}

.game_element_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white !important;
}

mat-dialog-content {
  // background: blue;
  padding: 15px;
  margin: 0 !important;
  height: 100%;
}

mat-dialog-actions {
  // background: green;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
