@media screen and (orientation: landscape) {
  /* applies to mobiles in landscape mode */

  .game_element_columns {
    flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  /* applies to mobiles in portrait mode */

  .game_element_columns {
    flex-direction: column;
  }
}

.game_element_columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  clear: both;
}

.game_element_image {
  float: left;
  width: 30%;
  height: 150px; // FIXME testing
  background: #000000; // FIXME testing
}

.game_element_text {
  float: left;
  width: 70%;
}
