<div class="editor-top-container">
  <app-image-upload class="editor-image-outer-container"
                    [mediaId]="getImage()"
                    (mediaIdChange)="updateImage($event)" >
  </app-image-upload>
  <div class="editor-top-right-container">

    <form id="editor-meta-info-input">
      <mat-form-field>
        <input matInput
               type="text"
               id="author"
               name="Titel"
               [(ngModel)]="chaseEditor.getChase().metaData.title"
               i18n-placeholder
               placeholder="Title of the scavenger hunt...">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               type="text"
               id="author"
               name="Autor"
               [(ngModel)]="chaseEditor.getChase().metaData.author"
               i18n-placeholder
               placeholder="Author...">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput
                  type="text"
                  id="chase_description"
                  i18n-placeholder
                  placeholder="Short description..."
                  name="fname"
                  class="input_field_big"
                  [(ngModel)]="chaseEditor.getChase().metaData.preview.text"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>

<div class="content-all-types">
  <div class="content-type-general">
    <form id="editor-general-info-input">
      <mat-checkbox class="content-field-container"
                    color="primary"
                    name="combination_map_check"
                    [(ngModel)]="chaseEditor.getChase().metaData.published"
                    i18n="@@meta_data.published">
        public available
      </mat-checkbox>
      <mat-form-field class="content-field-container">
        <mat-label class="" for="initial-game-element" i18n="@meta_data.initial_element">
          Initial element:
        </mat-label>
        <mat-select name="initial-game-element"
                    id="initial-game-element"
                    [(ngModel)]="initialElement">
          <mat-option *ngFor="let target of chaseEditor.getElementNames()"
                      [value]='target'
                      [attr.selected]='target'
                      (click)="onInitialGameElementChange(target)">
            {{target}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
