<article>
  <div class="game_element_content">
    <h3 class="game_element_title">{{solution.title}}</h3>
    <div class="game_element_columns">
      <div class="game_element_text">
        <p>{{solution.description.text}}</p>
      </div>
      <div class="game_element_image">
        <img [src]="getImage()"/>
      </div>
    </div>
  </div>
  <nav>
    <div class="game_element_buttons">
      <button mat-flat-button color="primary"
                              (click)="select(solution.destination)" i18n>Go on</button>
    </div>
  </nav>
</article>
