:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.editor-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: calc(100%-20px);
}

.text_input {
  width: 100%;
}

.editor_menu_button {
  position: relative;
  top: -4em;
  left: +5px;
}
