<div class="content-all-types">
  <div class="content-type-quest">
    <h2>Quest hinzufügen</h2>
    <div class="quest-top-container border">

      <div class="quest-top-mini-container">
        <mat-form-field appearance="fill">
          <mat-label>Quest Typ:</mat-label>
          <mat-select name="quest-type" [(ngModel)]="quest_type_status_int">
            <mat-option [value]="1">Text</mat-option>
            <mat-option [value]="2">Multiple Choice</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="quest-top-mini-container">
        <form>
          <mat-form-field>
            <mat-label for="num_tries" i18n="@@quest_editor.number_tries">Tries (0 = ∞):</mat-label>
            <input matInput type="number" id="num_tries" name="num_tries" min="0" [(ngModel)]="maxTries">
          </mat-form-field>
        </form>
      </div>
      <div class="quest-top-mini-container">
        <form>
          <mat-form-field>
            <mat-label for="max_time" i18n="@@quest_editor.max_time">Seconds for solving (0 = ∞):</mat-label>
            <input matInput type="number" id="max_time" name="max_time" min="0" [(ngModel)]="maxTime">
          </mat-form-field>
        </form>
      </div>
      <div class="quest-top-mini-container">
        <label for="disp_image_first" i18n>Bild zuerst anzeigen</label>
        <!-- <input type="checkbox" id="disp_image_first" name="disp_image_first" [(ngModel)]="display_image_first"> -->
        <mat-checkbox class="example-margin" [checked]="display_image_first" color="primary">
        </mat-checkbox>
      </div>
    </div>



    <div class="quest-bottom-container border">
      <div class="row combinationmap_header">
        <h3 i18n="@@quest_editor.solution.title">Solutions:</h3>
      </div>
      <div class="row quest-solution-list-container">
        <div class="solution-input-wrapper">
          <div class="quest-combinationmap-bottom-container">
            <div class="combination_map_name_width"></div>
            <ng-container *ngFor="let combination of combinationMap; let j = index">
              <div class=combination_map_checkbox_width>
                <div class="combination-map-bottom-row-attributes">
                  <mat-form-field class="solution-list-form-field" appearance="fill">
                    <mat-select [(ngModel)]="solution_type_status_int[j]">
                      <mat-option [value]="1" i18n="@@solution_option.all">all</mat-option>
                      <mat-option [value]="2" i18n="@@solution_option.one">one</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="solution-list-form-field" appearance="fill">
                    <mat-label>Quest Typ:</mat-label>
                    <mat-select [(ngModel)]="solution_destination_description[j]">
                      <mat-option *ngFor="let target of chaseEditor.getElementNames()" [value]='target'
                        [attr.selected]="chaseEditor.getElementIdByName(target)==1 ? true : null"
                        (click)="onCombinationMapDestinationChange(j, target)">{{target}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <div class="delete-icon-wrapper">
              <mat-icon class="chase-menu-icon add-table-button" (click)="addSolutionCombination()" matTooltip="add combination">add</mat-icon>
            </div>
          </div>
          <ng-container *ngFor="let solution of solutionItems; let i = index">
            <div class="single-solution-item-container">
              <div class=combination_map_name_width>
                <form>
                  <mat-form-field class="solution-list-form-field">
                    <mat-label></mat-label>
                    <input matInput type="text" id="quest-name" name="quest_name" [value]="solution"
                      (change)="updateSolutionItem($event, i)">
                  </mat-form-field>
                </form>
              </div>

              <ng-container *ngFor="let combination of combinationMap; let j = index">
                <div class="combination_map_checkbox_width combination_map_checkbox_container">
                  <mat-checkbox class="example-margin" color="primary" name="combination_map_check"
                    [(ngModel)]="combinationMap[j].requiredItems[i]">
                  </mat-checkbox>
                </div>
              </ng-container>
              <div class="delete-icon-wrapper" [hidden]="this.solutionItems.length < 2">
                <mat-icon class=delete_icon (click)=deleteQuestSolution(i)>delete</mat-icon>
              </div>
            </div>
          </ng-container>

          <div class="combination-map-delete-column-wrapper">
            <div class="combination_map_name_width">
                <mat-icon class="chase-menu-icon add-table-button" (click)="addSolutionItem()" matTooltip="add solution">add</mat-icon>
            </div>
            <ng-container *ngFor="let combination of combinationMap; let j = index">
              <div class="combination_map_checkbox_width">
                <div class="quest-delete-column-wrapper" [hidden]="this.combinationMap.length < 2">
                  <mat-icon class="delete_icon" (click)=deleteSolutionCombination(j)>delete</mat-icon>
                </div>
              </div>
            </ng-container>
            <div class="delete-icon-wrapper"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
