<div class="editor-top-container">
  <app-image-upload class="editor-image-outer-container"
                    [imageUrl]="this.image_url"
                    [chaseId]="getChaseId()"
                    (updateUrl)="updateImageUrl($event)" >
  </app-image-upload>
  <div class="editor-top-right-container">

    <form id="editor-meta-info-input">
      <mat-form-field>
        <mat-label for="quest_name" i18n="@@quest_editor.title">Title:</mat-label>
        <input matInput type="text" id="quest-name" name="quest_name" [(ngModel)]="title" (change)="onTitleChange()">
      </mat-form-field>

      <mat-form-field>
        <label for="fname" i18n="@@quest_editor.description">Description:</label>
        <textarea matInput
                  type="text"
                  id="bug_brief"
                  i18n-placeholder
                  placeholder="Description text..."
                  name="fname"
                  class="input_field_big"
                  [(ngModel)]="description"></textarea>
      </mat-form-field>
    </form>
    <div class="row">
      <div class="column">
        <a href="https://www.markdownguide.org/cheat-sheet#basic-syntax"
           i18n="@@quest_editor.markdown_tutorial">
          Tutorial for text formatting
        </a>
        <a href="https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md"
           i18n="@@quest_editor.emoji_tutorial">
          Tutorial for inserting emojis
        </a>
      </div>
      <div class="column">
        <button mat-raised-button color="primary" (click)="main_editor.tryInApp()">Ausprobieren</button>
      </div>
    </div>
  </div>
</div>

<!-- ! ============================= -->
<!-- ! ========== QUESTS =========== -->
<!-- ! ============================= -->

<div class="content-all-types" [hidden]="!is_quest">
  <div class="content-type-quest">
    <h2>Quest hinzufügen</h2>
    <div class="quest-top-container border">

      <div class="quest-top-mini-container">
        <mat-form-field appearance="fill">
          <mat-label>Quest Typ:</mat-label>
          <mat-select name="quest-type" [(ngModel)]="quest_type_status_int">
            <mat-option [value]="1">Text</mat-option>
            <mat-option [value]="2">Multiple Choice</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="quest-top-mini-container">
        <form>
          <mat-form-field>
            <mat-label for="num_tries" i18n="@@quest_editor.number_tries">Tries (0 = ∞):</mat-label>
            <input matInput type="number" id="num_tries" name="num_tries" min="0" [(ngModel)]="maxTries">
          </mat-form-field>
        </form>
      </div>
      <div class="quest-top-mini-container">
        <form>
          <mat-form-field>
            <mat-label for="max_time" i18n="@@quest_editor.max_time">Seconds for solving (0 = ∞):</mat-label>
            <input matInput type="number" id="max_time" name="max_time" min="0" [(ngModel)]="maxTime">
          </mat-form-field>
        </form>
      </div>
      <div class="quest-top-mini-container">
        <label for="disp_image_first" i18n>Bild zuerst anzeigen</label>
        <!-- <input type="checkbox" id="disp_image_first" name="disp_image_first" [(ngModel)]="display_image_first"> -->
        <mat-checkbox class="example-margin" [checked]="display_image_first" color="primary">
        </mat-checkbox>
      </div>
    </div>



    <div class="quest-bottom-container border">
      <div class="row combinationmap_header">
        <h3 i18n="@@quest_editor.solution.title">Solutions:</h3>
      </div>
      <div class="row quest-solution-list-container">
        <div class="solution-input-wrapper">
          <div class="quest-combinationmap-bottom-container">
            <div class="combination_map_name_width"></div>
            <ng-container *ngFor="let combination of combinationMap; let j = index">
              <div class=combination_map_checkbox_width>
                <div class="combination-map-bottom-row-attributes">
                  <mat-form-field class="solution-list-form-field" appearance="fill">
                    <mat-select [(ngModel)]="solution_type_status_int[j]">
                      <mat-option [value]="1" i18n="@@solution_option.all">all</mat-option>
                      <mat-option [value]="2" i18n="@@solution_option.one">one</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="solution-list-form-field" appearance="fill">
                    <mat-label>Quest Typ:</mat-label>
                    <mat-select [(ngModel)]="solution_destination_description[j]">
                      <mat-option *ngFor="let target of gameElementsList" [value]='target'
                        [attr.selected]="parseIdFromGEString(target)==1 ? true : null"
                        (click)="onCombinationMapDestinationChange(j, target)">{{target}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
            <div class="delete-icon-wrapper">
              <mat-icon class="chase-menu-icon add-table-button" (click)="addSolutionCombination()" matTooltip="add combination">add</mat-icon>
            </div>
          </div>
          <ng-container *ngFor="let solution of solutionItems; let i = index">
            <div class="single-solution-item-container">
              <div class=combination_map_name_width>
                <form>
                  <mat-form-field class="solution-list-form-field">
                    <mat-label></mat-label>
                    <input matInput type="text" id="quest-name" name="quest_name" [value]="solution"
                      (change)="updateSolutionItem($event, i)">
                  </mat-form-field>
                </form>
              </div>

              <ng-container *ngFor="let combination of combinationMap; let j = index">
                <div class="combination_map_checkbox_width combination_map_checkbox_container">
                  <mat-checkbox class="example-margin" color="primary" name="combination_map_check"
                    [(ngModel)]="combinationMap[j].requiredItems[i]">
                  </mat-checkbox>
                </div>
              </ng-container>
              <div class="delete-icon-wrapper" [hidden]="this.solutionItems.length < 2">
                <mat-icon class=delete_icon (click)=deleteQuestSolution(i)>delete</mat-icon>
              </div>
            </div>
          </ng-container>

          <div class="combination-map-delete-column-wrapper">
            <div class="combination_map_name_width">
                <mat-icon class="chase-menu-icon add-table-button" (click)="addSolutionItem()" matTooltip="add solution">add</mat-icon>
            </div>
            <ng-container *ngFor="let combination of combinationMap; let j = index">
              <div class="combination_map_checkbox_width">
                <div class="quest-delete-column-wrapper" [hidden]="this.combinationMap.length < 2">
                  <mat-icon class="delete_icon" (click)=deleteSolutionCombination(j)>delete</mat-icon>
                </div>
              </div>
            </ng-container>
            <div class="delete-icon-wrapper"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- ! ============================= -->
<!-- ! ======== NARRATIVES ========= -->
<!-- ! ============================= -->

<div class="content-all-types" [hidden]="!is_narrative">
  <div class=content-type-narrative>
    <h2>Erzählelement hinzufügen</h2>
    <div class="narrative-top-section border">
      <div class=narrative-status>
        <mat-form-field>
          <mat-label for="narrative-status">Aktion</mat-label>
          <mat-select
            name="narrative-status-selector"
            id="narrative-status-selector"
            [(ngModel)]="selected_narrative_status_int">
            <mat-option [value]="1" (click)="onNarrativeStatusChange(1)">Weiter</mat-option>
            <mat-option [value]="2" (click)="onNarrativeStatusChange(2)">Gewinnen</mat-option>
            <mat-option [value]="3" (click)="onNarrativeStatusChange(3)">Verlieren</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class=narrative-status>
        <mat-form-field>
          <mat-label for="narrative-type">Typ:</mat-label>
          <mat-select
            name="narrative-type"
            id="narrative-type-selector"
            [(ngModel)]="narrative_type">
            <mat-option [value]="getNarrativeType('text')" (click)="onNarrativeTypeChange(getNarrativeType('text'))">Text</mat-option>
            <mat-option [value]="getNarrativeType('audio')" (click)="onNarrativeTypeChange(getNarrativeType('audio'))">Audio</mat-option>
            <mat-option [value]="getNarrativeType('video')" (click)="onNarrativeTypeChange(getNarrativeType('video'))">Video</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <app-media-upload class="narrative-media-container border"
                      *ngIf="needsMediaUpload()"
                      [mediaUrl]="getMediaUrl()"
                      [mediaType]="getMediaType()"
                      [chaseId]="getChaseId()"
                      (updateUrl)="updateMedia($event)" >
    </app-media-upload>
    <div id=narrator-button-array-container class="border">
      <div class="row">
        <h3 i18n="@@quest_editor.button.available_buttons">
          Available Buttons:
        </h3>
      </div>

      <ng-container *ngFor="let button of buttons; let i = index">
        <div *ngIf="i === 0" class="row">
          <div class="column">
            <h3 i18n="@@quest_editor.button.text_header">Label:</h3>
          </div>
          <div class="column">
            <h3 i18n="@@quest_editor.button.destination_header">Destination:</h3>
          </div>
          <div class="column">
            <h3><!--placeholder for delete button column--></h3>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <mat-form-field>
              <mat-label i18n="@@quest_editor.button.text_input">label of the button</mat-label>
              <input matInput type="text" id="quest-name" name="quest_name" [(ngModel)]="button.name">
            </mat-form-field>
          </div>
          <div class="column">
            <mat-form-field>
              <mat-select [(ngModel)]="buttonDestinationList[i]">
                <mat-option *ngFor="let target of gameElementsList" [value]='target'
                  [attr.selected]="parseIdFromGEString(target)==button.destination ? true : null"
                  (click)="onNarrativeButtonDestinationChange(i, target)">{{target}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="column">
            <button mat-icon-button [disabled]="this.buttons.length < 2" (click)=deleteNarrativeButton(i)>
              <mat-icon>delete
              </mat-icon>
            </button>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <button class="saveCancelButton"
                mat-raised-button
                color="primary"
                (click)="addButton()"
                i18n="@@quest_editor.add_button">
          add button
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ! ============================ -->
<!-- ! ========== HINTS =========== -->
<!-- ! ============================ -->

<div class="content-all-types">
  <div class=content-type-hint>
    <div class="button-array-container border">
      <h3 i18n="@@quest_editor.hints">Hints</h3>
      <form>
        <div *ngFor="let help_entry of help; let i = index">
          <hr />
          <div class="single-button-container">
            <span i18n="@@quest_editor.hint_page">Page {{i+1}}</span>
            <mat-form-field>
              <mat-label></mat-label>
              <textarea matInput type="text" name="hint_text_{{i}}" [(ngModel)]="this.help[i].text"></textarea>
            </mat-form-field>
            <app-image-upload class="editor-image-outer-container"
                              [imageUrl]="this.help[i].image"
                              [chaseId]="getChaseId()"
                              (updateUrl)="updateHelpImageUrl(i, $event)" >
            </app-image-upload>
            <mat-icon class=delete_icon (click)=deleteHelpText(i)>delete</mat-icon>
          </div>
        </div>
      </form>
    </div>
    <button class="saveCancelButton"
            mat-raised-button
            color="primary"
            (click)="addHelpText()"
            i18n="@@quest_editor.add_hint">
      add hint
    </button>
  </div>
</div>
