:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90%;
  margin: 10px;
}

.editor-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 96%;
  height: 90%;
  margin: 10px;
}

