<div class="editor-media-container">
  <div *ngIf="hasAudio()">
    <audio controls
     class="game_element_text">
      <source [src]="getDefaultFileUrl()" />
        Your browser does not support audio.
    </audio>
    <!--<div *ngFor="let typeFormat of getTypesFormats()">
      {{typeFormat[0]}} in {{typeFormat[1]}} bit
    </div>-->
  </div>
  <div *ngIf="hasVideo()">
    <video controls
     class="game_element_text">
      <source [src]="getDefaultFileUrl()" />
        Your browser does not support audio.
    </video>
    <!--<div *ngFor="let typeFormat of getTypesFormats()">
      {{typeFormat[0]}} in {{typeFormat[1]}}p
    </div>-->
  </div>
  <mat-icon class="default-media" *ngIf="!media.hasFiles()">collections</mat-icon>
</div>
<input type="text"
       id="media-name"
       name="quest_name"
       [ngModel]="getDefaultFileUrl()"
       (change)="addMedia($event)"
       i18n-placeholder
       placeholder="URL pointing to media..." />
<br />
<br />
<input hidden type="file" #MediaUploader (change)="uploadMedia($event)" />
<button *ngIf="canUploadMedia()"
        id="saveChaseButton"
        mat-raised-button
        color="primary"
        (click)="MediaUploader.click()"
        i18n="@@upload_media">
  <!--<mat-icon id="saveChaseButton" matTooltip="Bild für Chase hochladen">file_upload </mat-icon>-->
  Upload media
</button>
