<div class="editor-media-container">
  <audio controls
         *ngIf="hasAudio()"
         class="game_element_text">
    <source [src]="mediaUrl" [type]="mediaType" />
      Your browser does not support audio.
  </audio>
  <video controls
         *ngIf="hasVideo()"
         class="game_element_text">
    <source [src]="mediaUrl" [type]="mediaType" />
      Your browser does not support audio.
  </video>
  <mat-icon class="default-media" *ngIf="!mediaUrl || mediaUrl.length < 1">collections</mat-icon>
</div>
<input type="text"
       id="media-name"
       name="quest_name"
       [(ngModel)]="mediaUrl"
       (change)="updateMedia($event)"
       i18n-placeholder
       placeholder="URL pointing to media..." />
<br />
<br />
<input hidden type="file" #MediaUploader (change)="uploadMedia($event)" />
<button *ngIf="canUploadMedia()"
        id="saveChaseButton"
        mat-raised-button
        color="primary"
        (click)="MediaUploader.click()"
        i18n="@@upload_media">
  <!--<mat-icon id="saveChaseButton" matTooltip="Bild für Chase hochladen">file_upload </mat-icon>-->
  Upload media
</button>
