.pageWrapper {
    position: absolute;
    top: max(5vh,20px);
    left: max(5%,50px);
    bottom: max(5vh,120px);
    right: max(5%,50px);
    padding: 20px;
    min-height: 180px;
    background-image: url(../../../../assets/images/title_background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.buttonBar {
  margin-top: max(100vh - 82px - 68px, 260px);
  overflow: hidden;
}

.buttonBar button {
  margin: 8px;
}

.textbox {
  background-color: #ffffff88;
  line-height: 2.0em;
  padding: 0.3em;
}

h1 {
  margin-top: 0px;
}
