<div class="pageWrapper">
  <h1><span class="textbox">{{getTitle()}}</span></h1>
  <p><span class="textbox">{{getSubtitle()}}</span></p>
</div>
<nav>
<div class="buttonBar">
  <button mat-flat-button color="primary" routerLink="/list" i18n="@@welcome.nav.list">Select scavenger hunt</button>
  <button mat-flat-button routerLink="/information" i18n="@@nav.information">About this app</button>
  <button mat-flat-button routerLink="/privacy" i18n="@@nav.privacy">Privacy information</button>
</div>
</nav>
