:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 5px;
}

.selector_content {
  display: flex;
  flex-direction: column;
  background: #3b6faa;
  width: 100%;
  height: 30px;
  text-align: center;
  text-justify: middle;
  font-size: 20px;
  border: 1px solid black;
}

.selector_content:hover {
  background: white;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('./../../../assets/example_thumbnails/xaver.png');
  background-size: cover;
}

.chaseList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

mat-card {
  margin: 15px;
}
