<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>

<div *ngIf="!loading" class="chaseList">
  <div *ngFor="let chase of getChaseList()">
    <section>
      <mat-card (click)="editChase(chase.chaseId)">
        <header>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{chase.title}}</mat-card-title>
            <mat-card-subtitle>{{chase.author}}</mat-card-subtitle>
          </mat-card-header>
        </header>
        <img mat-card-image src="{{chase.preview.description.image}}">
        <mat-card-content>
          <p>{{chase.preview.description.text}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button primary mat-button>EDIT</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>

  <!--
  <section>
    <mat-card *ngIf="hasNoChases()" (click)="editChase(-1)">
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Start chase from file</mat-card-title>
        </mat-card-header>
      </header>
      <mat-card-actions>
        <button primary mat-button>Upload file</button>
        <button primary mat-button>EDIT</button>
      </mat-card-actions>
    </mat-card>
  </section>
  -->
</div>

