:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white !important;
}

ul {
  padding: 0 20px;
  overflow: auto;
}

li {
  cursor: pointer;
  list-style-type: none;
  display:flex;
  flex-direction: row;
  align-items: center;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

chase-image {
  display: block;
  min-width: 250px;
  width: 35%;
  margin-right: 10px;
}
