<mat-progress-spinner color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>

<div *ngIf="!loading" class="chaseList">
  <section>
    <mat-card *ngIf="hasRunningChase()">
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="avatar" [src]="getAuthorImageUrl(chase.metaData.preview.image, chase)" />
          </div>
          <mat-card-title i18n="@@list.continue_with">Continue with:  {{getRunningChaseTitle()}}</mat-card-title>
          <!--<mat-card-subtitle>started today</mat-card-subtitle>-->
        </mat-card-header>
      </header>
      <mat-card-content>
        <div id="text_show_button"
             (click)="showRunningChase()"
             i18n="@@list.show_running">
          <mat-icon>unfold_more</mat-icon><span class="text_button">Show details</span>
        </div>
        <div id="text_hide_button"
             (click)="hideRunningChase()"
             i18n="@@list.hide_running">
          <mat-icon>unfold_less</mat-icon><span class="text_button">Hide details</span>
        </div>
        <chase-image id="running_chase_img" [imgClass]="getMatCardImageClass()" [image]="getRunningChasePreviewImage()"></chase-image>
        <p markdown emoji id="running_chase_text">{{getRunningChaseText()}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button primary mat-button (click)="startChase('')" i18n="@@list.continue">CONTINUE</button>
      </mat-card-actions>
    </mat-card>
  </section>

  <div *ngFor="let chase of getChaseList()">
    <section>
      <mat-card (click)="startChase(chase.metaData.chaseId)">
        <header>
          <mat-card-header>
            <div mat-card-avatar>
              <img class="avatar" [src]="getAuthorImageUrl(chase.metaData.preview.image, chase)" />
            </div>
            <mat-card-title>{{chase.metaData.title}}</mat-card-title>
            <mat-card-subtitle>{{chase.metaData.author.text}}</mat-card-subtitle>
          </mat-card-header>
        </header>
        <chase-image [imgClass]="getMatCardImageClass()" [image]="getPreviewImage(chase)"></chase-image>
        <mat-card-content>
          <p markdown emoji>{{chase.metaData.preview.text}}</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="card-flags">
            <mat-icon tooltip="chase already succeeded" *ngIf="isSucceeded(chase.metaDatachaseId)" >done</mat-icon>
          </div>
          <button primary mat-button i18n="@@list.start">START</button>
          <!--<button mat-button>LIKE</button>-->
          <!--<button mat-button>SHARE</button>-->
        </mat-card-actions>
      </mat-card>
    </section>
  </div>

  <section>
    <mat-card *ngIf="hasNoChases()" (click)="startChase(-1)">
      <header>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Start chase from file</mat-card-title>
        </mat-card-header>
      </header>
      <mat-card-actions>
        <button primary mat-button>Upload file</button>
        <button primary mat-button>START</button>
      </mat-card-actions>
    </mat-card>
  </section>
</div>

<div *ngIf="inputUrl">
  <app-url-input></app-url-input>
</div>
