:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  margin-bottom: 15px;
}

p {
  min-width: 100%;
  width: 0;
}

img {
  object-fit: cover;
  object-position: center;
  max-height: 30vh;
}

.example-header-image {
  background-image: url('./../../../../favicon.ico');
  background-size: cover;
}

mat-card-actions {
  text-align: right;
}

.card-flags {
  margin: 8px;
  float: left;
}

#text_show_button {
  display: visible;
  margin: 8px;
  vertical-align: middle;
  float: left;
}
#text_hide_button {
  display: none;
  margin: 8px;
  vertical-align: middle;
}
#running_chase_img {
  display: none;
}
#running_chase_text {
  display: none;
}

.text_button {
  vertical-align: middle;
}
mat-icon {
  vertical-align: middle;
}

