:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  // background: blue;
  padding: 15px;
  margin: 0 !important;
  height: 100%;
}

mat-dialog-actions {
  // background: green;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
