<mat-dialog-content>
  <mat-form-field *ngIf="isText()" class="example-full-width">
    <input matInput i18n-placeholder placeholder="Solution" [(ngModel)]="textResult">
  </mat-form-field>
  <ul *ngIf="isMultipleChoice()" [(ngModel)]="data.result">
    <li *ngFor="let item of items">
      <mat-checkbox color="primary" [(ngModel)]="item.selected">
        {{item.name}}
      </mat-checkbox>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close i18n>Cancel</button>
  <button mat-flat-button color="primary" (click)="submit()" i18n>Verify</button>
</mat-dialog-actions>
