@import '../game_element.scss';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  color: white !important;
}

mat-dialog-content {
  padding: 15px;
  margin: 0 !important;
  height: 100%;
}

mat-dialog-actions {
  margin-bottom: 0 !important;
  width: 100%
}

mat-dialog-actions nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page_number {
  padding: 0 15px 0 15px;
}
