<div class="main_body">
  <div class="chase_selector">
    <div class="selector_content">
      <span>Die Goldene Brosche</span>
    </div>
    <div class="selector_content">
      <span>Xaver und die Gang</span>
    </div>
    <div class="selector_content">
      <span>Nachts im MuseumX</span>
    </div>
  </div>
  <div class="chase_info_quest_selector_container">
    <div class="chase_info">
      <label for="fname">Chase Name</label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="fname">Author</label>
      <input type="text" id="fname" name="fname"><br><br>
    </div>
    <div class="quest_selector">
      <div class="selector_content">
        <span>Finde spuren</span>
      </div>
      <div class="selector_content">
        <span>Zwei Dolche</span>
      </div>
      <div class="selector_content">
        <span>Wooot</span>
      </div>
    </div>
  </div>
  <div>
  </div>