@media screen and (orientation: landscape) {
  /* applies to mobiles in landscape mode */

  .game_element_columns {
    flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  /* applies to mobiles in portrait mode */

  .game_element_columns {
    flex-direction: column;
  }
}


.title_column {
  display: flex;
}

.game_element_columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  clear: both;
}

.game_element_image {
  float: left;
  width: 30%;
}

.game_element_text {
  float: left;
  width: 70%;
}

.game_element_buttons {
  clear: both;
  text-align: center;
}

.quest_tries {
  float: left;
}

.quest_time {
  float: right;
}

ul {
  list-style-type: none;
}
