@import "../game_element";

@media screen and (orientation: landscape) {
  .game_element_buttons {
    flex-direction: row;
  }
  .quest_tries {
    float: left;
  }
  .quest_time {
    float: right;
  }
}

@media screen and (orientation: portrait) {
  .game_element_buttons {
    flex-direction: column;
  }
  .quest_time {
    border-top: 1px #f0f0f0 solid;
  }
  .quest_tries {
    border-top: 1px #f0f0f0 solid;
  }
}

.quest_tries {
  padding: 16px 8px;
  margin: 0px;
  border-top: 1px #eee solid;
}

.quest_time {
  padding: 16px 8px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

.solved {
  border: 8px #00ff00 solid;
  // border: 8px mat-color($primary, default) solid;
  border-radius: 8px;

  animation: blink 2s;
  animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color:#fff ; }  }

.invalid_answer {
  border: 8px #fff solid;
  border-radius: 8px;
  animation: highlight 5s;
  animation-iteration-count: 1;
}
@keyframes highlight {
  from {background-color: red; border-color: red; color:white;}
  to {background-color: #fff; border-color: #fff; color: black;}
}
