@import "../game_element";

.game_element_title {
  padding-left: 15px;
}

.title_column {
  display: flex;
}

.quest_tries {
  float: left;
}

.quest_time {
  float: right;
}

ul {
  list-style-type: none;
}
