@import "src/styles";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  // height: 100%;
  height: fit-content;
  min-height: 100%;
  // text-align: center;
  text-justify: center;
  background: #eee;
  overflow: auto;
}



.quest-editor-top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 16px;
  background: white;
  width: 98%;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  // border-bottom: 2px solid #262527;
  // border-top: 2px solid #262527;
  margin-top: 10px;
}

.quest-editor-top-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: 100%;
  padding: 20px;
}

.quest-editor-top-right-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}


.quest-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 96%;
  height: 90%;
  margin: 10px;
}

.quest-image-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 25%;
  height: 90%;
  margin: 10px;
}

label {
  margin: 10px;
}



.quest-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.quest-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
}

.quest-top-mini-container {
  margin: 3px 10px;
}

.quest-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //background: red;
  width: 100%;
  //height: 50%;//todo
}

.quest-solution-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  //background: green;
}

.quest-add-solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  //background: blue;
}

#quest-name {

}

#quest-type-selector {
  width: 70%;
}

#combination-type-selector {
  margin-bottom: 10px;
  width: 70%;
}

.switchable-quest-content {
    width: 90%;
    height: 60%;
    //border: 1px solid white;
}

.content-for-object-search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid white;
    justify-content: space-between;
    //background: blue;
}

.object-select-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    //background: green;
}

.object-select-container-single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    //background:red;
}

.object-misc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    //background: yellow;
}


.content-for-input-term {
    width: 100%;
    height: 100%;
    //display: flex;
    //flex-direction: column;
    padding: 10px;
    border: 1px solid white;
}

.content-for-multiple-choice {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid white;
}

.content-all-types {
  margin: 5px;
  margin: 10px;
  overflow:auto;
  border-radius: 16px;
  background: white;
  width: 98%;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.content-type-narrative {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.content-type-quest{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.narrative-status {
  margin-left: 20px;
  margin-right: 20px;
  width: 20%;
}

.button-array-container {
  padding-top: 10px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    justify-content: center;
    align-items: center;
}

#narrator-button-array-container {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.saveCancelButton {
  margin: 10px;
  max-width: 250px;
}

img {
  width: 100%;
}

.single-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}

.single-solution-item-container {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
  width: 100%;
}

.button-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: orange;
}

#narrator-button-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: pink;
  width: 66%;
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  list-style-type: none;
}

.delete_icon {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}


.combination_map_name_width {
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background:green;
}

.combination_map_checkbox_width {
  width: 100%;
  min-width: 50px;
  max-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  background: rgb(216, 215, 215);
  display: flex;
  flex-direction: column;
  justify-content: center;
  //border-left:   1px solid black;
  //border-right:   1px solid black;
  //background: blue;
}

.combination_map_checkbox_container {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quest-delete-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.delete_icon:hover {
  //color: red;
  //border: 2px solid red;
}

.narrative-top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

h3 {
  font-weight: 500;
  text-align: center;
}

.combinationmap_header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25pt;
}

.quest-combinationmap-bottom-container {
  display: flex;
  flex-direction: row;
  //background: red;
  // margin-left: 145px;
}

.combination-map-bottom-row-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#combination-map-destination-dropdown {
  margin-bottom: 10px;
}

#quest-meta-info-input{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.solution-list-form-field {
  width: 100%;
  min-width: 50px;
  max-width: 85px;
}

.solution-input-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.combination-map-delete-column-wrapper {
  display: flex;
}

.delete-icon-wrapper {
display: flex;
width: 100%;
min-width: 50px;
max-width: 55px;
height: 100%;
align-items: center;
justify-content: center;
}
