<ng-container>
  <mat-toolbar id="mainToolbar" color="primary">
    <mat-icon id="navigateToHomeButton" (click)="navigateTo('home')">home</mat-icon>

    <div>
      <button id="userMenuButton" mat-icon-button [matMenuTriggerFor]="menu" aria-label="User Menu">
        <span id="userMenuButtonContent">
          <mat-icon>account_box</mat-icon>
          <span>{{username}}</span>
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <!--<mat-icon>output</mat-icon>-->
          Ausloggen
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</ng-container>

<div id="content">
  <router-outlet></router-outlet>
</div>
