@import "~@angular/material/theming";

$custom-typography: mat-typography-config($headline: mat-typography-level(20px, 48px),
$title: mat-typography-level(18px, 48px),
$subheading-2: mat-typography-level(16px, 48px),
$subheading-1: mat-typography-level(16px, 48px),
$body-1: mat-typography-level(16px, 24px, 500),
$body-2: mat-typography-level(16px, 24px, 500),
$caption: mat-typography-level(18px, 24px, 500),
$button: mat-typography-level(18px, 24px));
@include mat-core($custom-typography);

// Generate color palletes using this website: http://mcg.mbitson.com (use the export for "ANGULAR JS 2 (MATERIAL 2)"

$md-primary: (
    50 : #f7f4eb,
    100 : #ece3ce,
    200 : #dfd0ad,
    300 : #d2bd8c,
    400 : #c8ae73,
    500 : #bea05a,
    600 : #b89852,
    700 : #af8e48,
    800 : #a7843f,
    900 : #99732e,
    A100 : #fff3df,
    A200 : #ffe0ac,
    A400 : #ffcd79,
    A700 : #ffc35f,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #f9f8f9,
    100 : #efeeef,
    200 : #e4e3e5,
    300 : #d9d7db,
    400 : #d1cfd3,
    500 : #c9c6cb,
    600 : #c3c0c6,
    700 : #bcb9be,
    800 : #b5b1b8,
    900 : #a9a4ac,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #faf1ff,
    A700 : #f0d8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #ffe0e0,
    100 : #feb3b3,
    200 : #fe8080,
    300 : #fe4d4d,
    400 : #fd2626,
    500 : #fd0000,
    600 : #fd0000,
    700 : #fc0000,
    800 : #fc0000,
    900 : #fc0000,
    A100 : #ffffff,
    A200 : #ffefef,
    A400 : #ffbcbc,
    A700 : #ffa2a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// Here you define which color category uses which color palette
$primary: mat-palette($md-primary);
$warn: mat-palette($md-warn);
$accent: mat-palette($md-accent);

//Add all color categories to the theme.
$museumx-theme: mat-light-theme($primary, $accent, $warn);

//Add the theme to the project.
@include angular-material-theme($museumx-theme);
